USE [master]
GO
/****** Object:  Database [ZOO]    Script Date: 19.07.2018 20:30:38 ******/
CREATE DATABASE [ZOO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZOO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ZOO.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ZOO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ZOO_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZOO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZOO]
GO
/****** Object:  User [Vasya Pupkin]    Script Date: 19.07.2018 20:30:38 ******/
CREATE USER [Vasya Pupkin] FOR LOGIN [ZOO_owner] WITH DEFAULT_SCHEMA=[db_owner]
GO
/****** Object:  User [Aisulu]    Script Date: 19.07.2018 20:30:38 ******/
CREATE USER [Aisulu] FOR LOGIN [ZOO_seller] WITH DEFAULT_SCHEMA=[db_datareader]
GO
/****** Object:  User [Abai]    Script Date: 19.07.2018 20:30:38 ******/
CREATE USER [Abai] FOR LOGIN [ZOO_admin] WITH DEFAULT_SCHEMA=[db_backupoperator]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 19.07.2018 20:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_type] [int] NULL,
	[id_office] [int] NULL,
	[quantity_of_goods] [int] NULL,
	[Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Office]    Script Date: 19.07.2018 20:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Selling]    Script Date: 19.07.2018 20:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selling](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[selling_date] [date] NULL,
	[id_shopper] [int] NULL,
	[sale_amount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shoppers]    Script Date: 19.07.2018 20:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoppers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
	[discount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sold_goods]    Script Date: 19.07.2018 20:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sold_goods](
	[id_goods] [int] NULL,
	[id_selling] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type_of_goods]    Script Date: 19.07.2018 20:30:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_of_goods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD FOREIGN KEY([id_office])
REFERENCES [dbo].[Office] ([id])
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD FOREIGN KEY([id_type])
REFERENCES [dbo].[Type_of_goods] ([id])
GO
ALTER TABLE [dbo].[Selling]  WITH CHECK ADD FOREIGN KEY([id_shopper])
REFERENCES [dbo].[Shoppers] ([id])
GO
ALTER TABLE [dbo].[Sold_goods]  WITH CHECK ADD FOREIGN KEY([id_goods])
REFERENCES [dbo].[Goods] ([id])
GO
ALTER TABLE [dbo].[Sold_goods]  WITH CHECK ADD FOREIGN KEY([id_selling])
REFERENCES [dbo].[Selling] ([id])
GO
ALTER TABLE [dbo].[Shoppers]  WITH CHECK ADD CHECK  (([discount]<(16)))
GO
USE [master]
GO
